!!!
%html{data: {modules: "inner"}}
	=Haml::Engine.new(File.read("src/haml/_head.haml")).render(Object.new, title: "Расчет стоимости")
	%body.inner
		.page
			.page-bg
				.pb-image.fit-bg
					%img{src: "images/index_bg_blurred.jpg", alt: ""}
				.pb-overlay
			.page-content
				.pc-inner
					=Haml::Engine.new(File.read("src/haml/_header.haml")).render
					%main
						.container-fixed.padded
							=Haml::Engine.new(File.read("src/haml/_breadcrumbs.haml")).render
							%h1 Расчет стоимости
							.cost
								%h2 Из чего складывается цена на дом
								.co-step
									%header Проектирование
									.columns-3
										.co-1
											%strong Архитектурные решения
											%p
												%span.price.euro> 12
												\/м
												%sup> 2
											%ul.list
												-["планировки", "план фундамента", "фасады", "разрезы", "привязка к участку"].each do |i|
													%li= i
										.co-2
											%strong Деревянные конструкции
											%p
												%span.price.euro> 15
												\/м
												%sup> 2
											%ul.list
												-["стены", "перекрытия", "стропильная система", "узлы", "рекомендации"].each do |i|
													%li= i
										.co-3
											%strong Архитектурные решения
											%p
												%span.price.euro> 12
												\/м
												%sup> 2
											%ul.list
												-["канализация", "отопление", "электрооборудование и электроснабжение", "вентиляция и отоопление", "слаботочные системы"].each do |i|
													%li= i
									%article При размещении заказа на поставку и строительство стоимость работ проектирования зачитывается в стоимости Договора на поставку и строительство.
								.co-step
									%header Домокомплект
									.columns-3
										.co-1
											%strong.pack.pack-max{data: {pack: "MAX"}} Комплектация
											%p
												%span.price.euro> 590
												\/м
												%sup> 2
											%ul.list
												-["рабочая документация (сборочные чертежи);", "стеновой комплект из клееного бруса или клееного бревна, натуральный утеплитель (межвенцовый), крепеж (шпилечная система), обсадные коробки для дверных и оконных проемов, опорные колонны и регулировочные механизмы усадки;", "кровельная конструкция - стропильная система, клееные балки, обрешетка, вентиляционные рейки, ветровые доски, подшив свесов;", "фронтоны и  внутренние перегородки - каркас с обшивкой имитацией бруса;", "проектные конструкции межэтажного перекрытия - балки перекрытия, потолеок (вагонка), пол (шпунтованная доска);", "конструкции полов первого этажа - половые лаги, пол (шпунтованная доска);", "террасы и балконы - импрегнированные материалы для устройства полов;", "окна - деревянные, производство Profin;", "двери наружные - утепленный контур, производство Profin;", "двери внутренние - деревянные, филенчатые, производство Profin;", "лестница  - деревянная, по проекту."].each do |i|
													%li= i
										.co-2
											%strong.pack{data: {pack: "MEDIUM"}} Комплектация
											%p
												%span.price.euro> 480
												\/м
												%sup> 2
											%ul.list
												-["рабочая документация (сборочные чертежи);", "стеновой комплект из клееного бруса или клееного бревна, натуральный утеплитель (межвенцовый), крепеж (шпилечная система), опорные колонны и регулировочные механизмы усадки;", "кровельная конструкция - стропильная система, клееные балки;", "фронтоны и  внутренние перегородки - каркас с обшивкой имитацией бруса;", "проектные конструкции межэтажного перекрытия - балки перекрытия;", "конструкции полов первого этажа - половые лаги;", "террасы и балконы - импрегнированные материалы для устройства полов."].each do |i|
													%li= i
										.co-3
											%strong.pack{data: {pack: "MIN"}} Комплектация
											%p
												%span.price.euro> 480
												\/м
												%sup> 2
											%ul.list
												-["рабочая документация (сборочные чертежи);", "стеновой комплект из клееного бруса или клееного бревна, натуральный утеплитель (межвенцовый), крепеж (шпилечная система), опорные колонны и регулировочные механизмы усадки;", "кровельная конструкция - стропильная система, клееные балки;", "проектные конструкции межэтажного перекрытия - балки перекрытия."].each do |i|
													%li= i
									%article Окончательная стоимость домокомплекта зависит от следующих факторов - сложность проекта, спецификация поставки, кол-во транспортных единиц, необходимых для доставки дома на участок, таможенные платежи.
								.co-step
									%header Строительно-монтажные работы
									.columns-3
										.co-1
											%strong Монтаж
											%p
												%span.price 30% от стоимости домокомплекта
										.co-2
											%strong Устройство кровли
											%p
												%span.price.ruble> 2 000
												\/м
												%sup> 2
											%article Устройство кровельного "пирога" и финишного покрытия кровли (металлочерепица, мягкая кровля, цементно-песчаная, керамика, медь).
										.co-3
											%strong Внутренние инженерные сети
											%p
												%span.price.ruble> 2 500
												\/м
												%sup> 2
											%article Канализация, отопление, электрооборудование и электроснабжение, вентиляция и отопление, слаботочные системы
								.co-step
									%header Отделочные работы
									%article Выполняются по согласованию с Заказчиком и в соответствии с дизайн-проектом.
								.info-block
									%header Полезная информация
									-["Комплектации поставки", "Доставка", "Таможенное оформление"].each do |i|
										%p
											%a{href: ""}= i
								.tac
									%h3 По всем вопросам Вы можете позвонить нам по телефону
									%br
									%h2 +7 (495) 978-85-75
				=Haml::Engine.new(File.read("src/haml/_footer_inner.haml")).render
			=Haml::Engine.new(File.read("src/haml/_search.haml")).render
			=Haml::Engine.new(File.read("src/haml/_m_menu.haml")).render

